.profile-detail-flex-container {
    display: flex;
    height: 30%;
    width: 70%;
    margin: 1em auto;
    .profile-detail-flex-item {
        flex:1;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
}

img {
    height: 100%;
    width: auto;
    border-radius: 100%;
    margin-right: 1em;
}

h2 {
    text-align: left;
    color: #666;
}
.about .about-content {
    text-align: left;
    font-size: 18px;
}