.mat-form-field {
    width: 70%;
}

.sign-up-form {
    justify-content: center;
    align-content: center;
    text-align: center;
    .create-account-button {
        background:#f96816;
        color: white;
    }
}